* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "lobster", sans-serif;
}
body {
  background-color: #2d2d2d;
}
/* header start */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 16px 5%;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 36px;
  color: white;
  font-weight: 600;
}
.logo span {
  color: #705d4a;
  text-shadow: 0 0.1rem 0.1rem rgb(0, 0, 0, 0.2);
}
.navlist {
  display: flex;
}
.navlist li a {
  font-size: 18px;
  color: #705d4a;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 6px;
  padding: 8px;
  transition: all 0.5s;
}
.navlist li a:hover {
  background-color: #705d4a;
  color: white;
}
.menu-icon {
  font-size: 26px;
  color: #705d4a;
  z-index: 10001;
  display: none;
  cursor: pointer;
}

.top-icon i {
  font-size: 23px;
  margin-left: 5px;
  cursor: pointer;
}
#icon1 {
  color: #705d4a;
}
#icon2 {
  color: white;
}

header.stickly {
  background-color: #1c1b1a;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  padding: 16px 5%;
}

@media (max-width: 950px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #705d4a;
    transition: all 0.5s ease;
  }
  .navlist li a {
    color: white;
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navlist.active {
    right: 0;
  }
}
@media (max-width: 1200px) {
  header {
    padding: 15px 4%;
  }
}
@media (max-width: 1030px) {
  header {
    padding: 16px 0%;
  }
}
/* header end */

/* Home Section Start*/

.home {
  padding: 110px 12.5% 90px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #2d2d2d;
  z-index: 0;
  transition: all 0.5s ease;
}

.home .img {
  flex: 1 1 300px;
}

.home .img img {
  width: 100%;
}

.home .home-content {
  flex: 1 1 400px;
  margin-top: 30px;
}

.text {
  letter-spacing: 1px;
  font-size: 36px;
  color: #70564a;
  font-weight: 700;
}
.home p {
  letter-spacing: 1px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.home button {
  position: relative;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid #70564a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #70564a;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2 ease-in;
  cursor: pointer;
}
.home button a {
  color: white;
}
.home button:hover {
  color: #fff;
  background: #70564a;
  box-shadow: 0 0 30px 5px #70564a;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.25s ease-out;
}

.home button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
  color: white;
}
.home button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #70564a;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  form {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@media (max-width: 1200px) {
  .home {
    padding: 110px 10% 90px;
  }
}

@media (max-width: 1030px) {
  .home {
    padding: 110px 6% 90px;
  }
}

/* home sec end         */

/* 
footer section start */
#footer {
  width: 100%;
  background-color: #1c1b1a;
}

#footer h1 {
  font-size: 30px;
  font-weight: 700;
}

.footer-content {
  text-align: center;
  padding-top: 5%;
}

.footer-content p {
  color: #fff;
  font-weight: 550;
  letter-spacing: 1px;
  font-size: 13px;
}

.social-links i {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #fff;
  color: black;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.social-links i:hover {
  background-color: #70564a;
  color: #fff;
}

.footer-bottom-content {
  text-align: center;
  background-color: #1c1b1a;
}
.footer-bottom-content p {
  color: #fff;
  font-size: 15px;
}
.footer-bottom-content p a {
  color: #70564a;
  font-weight: 600;
}

/* footer section end */
